DISCORD_TOKEN=MTQyNDk4NDIyNTExMDgyMzAwMw.GvR0mD.qi5EeDAo07WI1SV_oCMACx7KxSGMzYVF9Euj6c
OPENAI_API_KEY=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
APPLICATION_ID=1424984225110823003
GUILD_ID=1424986763826303047

